/* common */
body {
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.my_btn {
    width: 100%;
    padding: 5px 0;
    margin: 3px 0;
    font-size: 14px;
    font-weight: 600;
    background-color: #004aff;
    color: white;
    border-color: #004aff;
}

.my_btn:hover {
    background-color: #579aff;
    border-color: #579aff;
    color: white;
}

.my_btn_white {
    background-color: white;
    border-color: white;
    box-shadow: 1px 1px 2px lightgrey;
    color: #6d6d6d
}
.my_btn_white:hover {
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    color: #6d6d6d;
}


/* header */
.my_navbar_style {
    margin: 0;
}

.my_brand.navbar-header {
    margin-right: 100px;
}

.my_logo {
    height: 25px;
}

.my_navbar_style .navbar-default .navbar-nav  li  a {
    color: #2f446c !important;
}

.my_navbar_style .navbar-default .navbar-nav > li > a:hover,
.my_navbar_style .navbar-default .navbar-nav > li > a:focus {
    color: #2f446c;
    background-color: transparent;
  }

.jumbotron {
    background-image: url("../img/bg-banner-home.jpg");
    color: white;
    margin: 0;
}

.jumbotron h1 {
    font-weight: 700;
}

.jumbotron p {
    opacity: .6;
    font-weight: 600;
}

#started {
    border-radius: 5px;
    padding: 20px 20px;
    text-align: center;
    background-color: white;
    color: black;
}
.jumbotron a,
.jumbotron h2 {
    font-weight: 600;
}
#started a {
    color: #006aff;
}


.jumbotron .terms {
    padding-top: 5px;
    font-size: 10px;
}
.jumbotron .terms a {
    text-decoration: underline;
    font-weight: 800;
}

.costumers {
    padding: 50px 0 25px 0;
    font-weight: 700;   
    text-align: center;
    background-color: #f3f5f9;

}

.costumers h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #77829d;
}

.costumers .row {
    line-height: 130px;

}

.costumers img {
    width: 100%;
    vertical-align: middle;
}

.link_blue {
    font-weight: 600;
    font-size: 14px;
    color: #2c83fe;
}

.link_blue i {
    font-size: 10px;
    margin-left: 5px;
    line-height: 16px;
    vertical-align: middle;
}

/* main */

main {
    text-align: center;
    font-size: 18px;   
}

#deploy .container > .row{
    text-align: left;
    margin-top: 50px;
}

main h2  {
    padding-top: 50px;
    font-weight: 700;
    color: #031c4e;
}
main p {
    font-weight: 600;
    color: #6f7b95;
}
#deploy ul {
    /* margin-left: 40%; */
    padding-left: 10px;
    margin-bottom: 25px;
    list-style: none;
    color: #6f7b95;
    border-left: 3px solid #d0d0d0;
}
#deploy li {
    padding: 10px 0;
}

main h3 {
    font-size: 20px;
    font-weight: 600;
    color: #132a58;
}

main [class *= "col-"] p {
    font-size: 15px;
}

main .row .row {
    margin-bottom: 20px;
}

#design {
    background-color: #f3f5f9;
}

#design .container > p:first-child {
    margin-bottom: 100px;
}

#design img {
    max-width: 45%;
}

#design i {
    vertical-align: text-top;
    font-size: 50px;
    margin: 0 20px;
    color: #031c4e;
}

#design i:hover {
    cursor: pointer;
}
#design i:first-child {
    opacity: .5;
}

#img_text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
    color: #3a4d74;
}

.small_circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 1px solid #006aff;
} 

.small_circle.active {
    background-color: #006aff;
}

#features .container {
    text-align: left;
}

#features img {
    margin-top: 20px;
}
/* media query */

@media screen and (max-width: 992px) {
    .jumbotron h1 {
        font-size: 36px;
    }

    .jumbotron h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {

    .jumbotron h1 {
        font-size: 26px;
    }

    .jumbotron p {
        font-size: 16px;
    }

    .costumers h3 {
        font-size: 12px;
    }

    #design img {
        max-width: 70%;
    }
    
    #design i {
        display: none;
    }
}